
@charset "utf-8";
@import url("../public/public.css");
.myinfo{
	margin-top: 10px;
	border-top: 1px solid #f0f0f0;
}

.myinfo>li{
	width: 92%;
	height: 45px;
	margin-left: 8%;
}
.myinfo>li>span{
	font-size: 1.3em;
	line-height: 45px;
	float: left;
}
.myinfo>li>input{
	float: right;
	font-size: 1.2em;
	width: 75%;
	height:44px;	
	border-bottom: 1px solid #f0f0f0;
}
.myinfo>li:nth-child(4)>select{
	float: right;
	font-size: 1.2em;
	width: 75%;
	height:44px;	
	border-bottom: 1px solid #f0f0f0;
	color: #bba9a9;
}
.myinfo>._sex>.sex{
	float: right;
	font-size: 1.2em;
	width: 75%;
	height:44px;	
	border-bottom: 1px solid #f0f0f0;
	color: #bba9a9;
}
.myinfo>li:nth-child(2)>.sex a{
	float: left;
	width: 60px;
	font-size: 1em;
	height: 100%;
}
.myinfo>li:nth-child(2)>.sex i{
	width: 17px;
	height: 100%;
	background-image: url(../../img/yuan.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	float: left;
	margin-right: 5px;
	
}
.myinfo>li:nth-child(2)>.sex>a.cur i{
	background-image: url(../../img/yuango.png);
}
