
@charset "utf-8";
@import url("../public/public.css");
.project_pic{
	width:46%;
	margin: 20px auto 0 auto;
	height:150px;
}

.project_pic>img{
	width: 100%;
	height: 100%;
}

.text{
	width: 90%;
	margin: 0 auto;
}
.text>p:nth-child(1){
	padding-top: 20px;
	font-size: 1.3em;
}
.text>p:nth-child(2){
	line-height: 20px;
	font-size: 1.1em;
	padding-top: 5px;
}
.apply_btn{
	margin: 60px auto;
	width:60%;
	height:45px;
	
	line-height: 45px;
	text-align: center;
	font-size: 1.7em;
	color:#fff;
	border-radius:5px;
	background-color: #38b8fd;
}

