@charset "utf-8";
@import url("../public/public.css");

.new_pic{
	width: 100%;
}
.new_pic>li{
	float:left;
	width: 25%;
	height: 80px;
}
.new_pic>li>img{
	width:100%;
	height: 100%;
}
.detail{
	width: 90%;
	margin: 10px auto 0 auto;
	line-height: 18px;
	font-size: 1.2em;
}
.dialog{
	width: 90%;
	height: auto;
	margin: 10px auto;
	overflow: visible;
	
}
.dialog>div{
	border-radius: 7px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
	clear: both;
	max-width: 90%;
	position: relative;
	overflow: visible;	
}
.left_he{
	background-color: #dddddd;	
	float: left;
}

.dialog>.left_he>i{
	display: block;
	width: 20px;
	height: 10px;
	position: absolute;
	left: -15px;
	bottom: -5px;
	background-image: url(../../img/wei.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.right_me{
	background-color: #38b8fe;
	float: right;	
}
.dialog>.right_me>i{
	display: block;
	width: 20px;
	height: 10px;
	position: absolute;
	right: -15px;
	bottom: -5px;
	background-image: url(../../img/mewei.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.bighide {
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		z-index: 999;
}
.bighide>.blackhide{
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.5;
}	
.blackshow_two{
		width: 100%;
		height: 180px;
		position: absolute;
		top: 30%;
		background-color: white;
}
.blackshow_two>div{
	width: 90%;
	margin: 0 auto;
}
.blackshow_two>div>textarea{
	width: 94%;
	padding: 3%;
	height: 110px;
	background-color: #EEEEEE;
	resize: none;
}
.top{
	line-height: 40px;
}
.top>a:nth-child(1){
	width: 10%;
	float: left;
	font-size: 1.2em;
	
	
}
.top>a:nth-child(3){
	width: 10%;
	float: right;
	font-size: 1.2em;
	
}
.top>span{
	float: left;
	width: 80%;
	text-align: center;
	font-size: 1.3em;
	
}