@charset "utf-8";
@import url("../public/public.css");
article{
	width: 100%;
	height: 100%;
	background-color: #0192E1;
	background-image: url(../../img/start.png);
	background-position: center;
	background-size: 45%;
	background-repeat: no-repeat;
}

