
@charset "utf-8";
@import url("../public/public.css");
.mew_pic{
	width: 100%;
	height: 150px;
}
.mew_pic>img{
	width: 100%;
	height: 100%;
}
.newtitle{
	width: 90%;
	margin: 20px auto 0 auto;
	line-height: 20px;
	font-size: 1.3em;
}
.detail{
	width: 90%;
	margin: 10px auto;
	line-height: 18px;
	font-size: 1.2em;
}
