
@charset "utf-8";
@import url("../public/public.css");
section{
	background-color: #ececec;
}
.right{
	background-image: url(../../img/more1.png);
	background-size: 40%;
	background-position: center;
	background-repeat: no-repeat;
}
.shopindex_runimg{
	width: 100%;
	height: 180px;
	
}
.shopindex_runimg ul{
	width: 500%;
	height: 100%;
}
.shopindex_runimg ul>li{
	width: 20%;
	height: 100%;
	float: left;
}
.shopindex_runimg ul>li>img{
	width: 100%;
	height: 100%;
}
.shopindex_runimg_index{
	width: 100%;
	height: 20px;
	background-color: #000;
	opacity: 0.5;
	position: relative;
	margin-top: -20px;
	
}
.shopindex_runimg_index>span{
	float: right;
}
.shopindex_runimg_index>span>a{
	float: left;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin-right: 8px;
	margin-top: 5px;
	border: 1px solid white;
}
.shopindex_runimg_index>span>a.this{
	background-color: white;
}










.lei{
	width: 100%;
	margin-bottom: 20px;
}
.lei>li{
	margin-top: 20px;
	width: 40%;
	height: 180px;
	margin-left: 7%;
	float: left;
	position: relative;
}
.lei>li>div{
	width: 100%;
	height: 100%;
}
.lei>li>div>img{
	width: 100%;
	height: 100%;
}
.lei>li>span:nth-child(2){
	width: 100%;
	display: block;
	height: 30px;
	background-color: #000;
	opacity: 0.5;
	margin-top: -30px;
}
.lei>li>span:nth-child(3){
	width: 100%;
	display: block;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-top: -30px;
	font-size: 1.3em;
	color: #fff;
	position: absolute;
}